body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
}
h1{
    font-size: 24px;
    color: white;
    background-color: orange;
    margin: 10px;
    width: 200px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-weight: bold;
}

#instructions{
    background-color: beige;
    max-width: 400px;
    margin-left: 10px;
    padding: 10px;
    color: rgb(32, 136, 32);
    font-weight: bold;
}

#computerScore{
    background-color: rgb(46, 121, 92);
    width: 180px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    float: left;  
    padding: 10px;
    font-size: 24px;
    color: purple;
    font-weight: bold;
  
}

#scoreBoard{
    background-color: rgba(36, 164, 196, 0.877);
    width: 95px;
    height: 120px;
    margin-left: 10px;
    margin-top: 10px;
    left: 210px;
    position: absolute; 
}

#gems{
    clear: both;
    margin-left: 10px;
}

img{
    background-color: white;
    margin-top: 10px;
}

#userScore{
    background-color: teal;
    width: 200px;
    height: 120px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
    font-size: 24px;
    padding: 10px;
}

#userScoreHeader{
    background-color: teal;
    width: 200px;
    height: 20px;
    margin-top: 10px;
    margin-left: 10px;
    color: white;
}

#wins{
    margin-left: 5px
}
#losses{
    margin-left: 5px
}
#message{
    margin-left: 5px
}